@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i');
/*border: 1px solid violet;*/


body {
	width: 900px;
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}

.page {
	background-color: rgb(132, 157, 143);
}

.page-header {
	color: rgb(255, 255, 255);
}

.page-header .center {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	max-width: 880px;
	margin-left: auto;
	margin-right: auto;
}

.header-btn {
	display: flex;
	justify-content: space-between;
	width: 262px;
	margin-left: auto;
	padding: 10px;
	padding-top: 23px;
	color: rgb(255, 255, 255);
}

.header-btn .btn {
	position: relative;
	width: 33px;
	height: 32px;
	font-size: 14px;
	font-weight: normal;
	vertical-align: middle;
	line-height: 32px;
	background-color: rgb(164, 185, 173);
	border-radius: 20px;
}

.header-btn .search::after {
	content: url("K:/Вёрстка/216812-gllacy/img/Loupe.png");
	position: absolute;
	top: 4px;
	left: 8px;
}

.header-btn .enter {
	width: 49px;
	padding-left: 44px;
}

.header-btn .enter::after {
	content: url("K:/Вёрстка/216812-gllacy/img/enter.png");
	position: absolute;
	top: 5px;
	left: 16px;
}

.header-btn .cart {
	width: 73px;
	padding-left: 44px;
}

.header-btn .cart::after {
	content: url("K:/Вёрстка/216812-gllacy/img/cart.png");
	position: absolute;
	top: 6px;
	left: 16px;
}

.header-logo {
	padding: 10px;
}

.page-nav {
	display: flex;
	margin: 0;
	padding: 7px;
	list-style: none;
}

.page-nav li {
	margin-top: 17px;
	margin-right: 19px;
	padding: 5px;
}

.page-nav li a {
	color: rgb(255, 255, 255);
	text-decoration: none;
	border-bottom: 1px solid white;
}

.header-time-phone {
	position: absolute;
	top: 62px;
	right: 0;
	width: 170px;
	height: 55px;
	margin-left: auto;
	padding: 10px;
	text-align: right;
}

.header-time-phone p {
	font-size: 14px;
	margin: 0;
}

.header-time-phone a {
	font-size: 22px;
	text-decoration: none;
	color: rgb(255, 255, 255);
	line-height: 32px;
}






